/********************************** Reset ************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************* Variables **********************************/
$blue: #0258FF;
$blue-track: #E5EEFF;
$red: #FC6A4A;
$grey-light: #E0E0E3;
$grey: #707072;
$grey-dark: #6E6E6E;
$white: #FFFFFF;

$dot-opacity-exceeded: 0.32;
$dot-opacity-excess: 0.24;
$dot-track-opacity: 0.12;

$input-border-thickness: 1px;
$input-border-radius: 8px;
$slider-thickness: 1rem;
$slider-thumb-size: 2rem;
$slider-thumb-border-thickness: 2px;
$slider-thumb-border-radius: 16px;
$slider-mark-size: 0.25rem;

/*********************************** Font ************************************/
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('../fonts/SF-Pro-Display-Regular.woff') format('woff'),
       url('../fonts/SF-Pro-Display-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  src: url('../fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
       url('../fonts/SF-Pro-Display-Semibold.woff') format('woff'),
       url('../fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
       url('../fonts/SF-Pro-Display-Bold.woff') format('woff'),
       url('../fonts/SF-Pro-Display-Bold.ttf') format('ttf');
}

/*********************************** Main ************************************/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'SF Pro Display', -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

input[type=text] {
  font-family: inherit;
  font-weight: 600;
  font-size: 3rem;
  color: $blue;
  width: 100%;
  text-align: center;
  border-radius: $input-border-radius;
  border: $input-border-thickness solid transparent;
  cursor: default;
  padding: 0.5rem;
  background-color: transparent;
  transition: border-color 0.3s ease-out;

  &:hover {
    border-color: $grey-light;
  }

  &:active, &:focus {
    outline: none;
    border-color: $grey;
  }
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  --webkitProgressPercent: 0%;

  // -webkit browsers progress
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-thickness;
    border-radius: $input-border-radius;
    background-image: linear-gradient(
      90deg, 
      $blue var(--webkitProgressPercent),
      transparent var(--webkitProgressPercent)
    );
  }

  &::-moz-range-progress {
    width: 100%;
    height: $slider-thickness;
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
    background: $blue;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    border: $slider-thumb-border-thickness solid $blue;
    background: $white;
    border-radius: $slider-thumb-border-radius;
    margin-top: (($slider-thumb-size - $slider-thickness) / 2) * -1;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    border: $slider-thumb-border-thickness solid $blue;
    background: $white;
    border-radius: $slider-thumb-border-radius;
  }

  &:focus {
    outline: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: calc(17ch * 3);
  align-self: center;
  margin: auto;
  
  .amount-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    #dollar {
      position: absolute;
      font-weight: 700;
      font-size: 2rem;
      color: $blue;
      pointer-events: none;
      left: calc(50% - 1rem - 3.75ch - 0.35ch);
      top: 0.25rem;
    }
  }

  #error-message {
    margin: 0.5rem auto 0;
    font-size: 0.8125rem;
    color: $red;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-out;

    &.display {
      height: 1rem;
      opacity: 1;
    }
  }

  .slider-container {  
    position: relative;
    margin: 1.5rem 0 0.25rem;
    width: 100%;
    height: $slider-thumb-size;

    .slider-track-container {
      width: 100%;
      height: $slider-thickness;
      border-radius: $input-border-radius;
      background: $blue-track;
      display: flex;
      align-items: center;
      position: absolute;
      top: $slider-thickness / 2;

      .slider-marks-container {
        position: static;
      }
    }

    #slider {
      position: relative;
      background-color: transparent;
      height: $slider-thumb-size;
      width: 100%;
      margin: 0;
      border-radius: $slider-thumb-border-radius;
      overflow: hidden;
    }

    .slider-marks-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: calc(50% - 0.25rem + 0.125rem);
      padding: 0 0.4rem;
      pointer-events: none;

      .marks {
        width: $slider-mark-size;
        height: $slider-mark-size;
        border-radius: 50%;
        
        &.exceeded {
          background-color: $white;
          opacity: $dot-opacity-exceeded;
        }

        &.excess {
          background-color: $blue;
          opacity: $dot-opacity-excess;
        }
      }
    }  
  }

  .label-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    p {
      font-size: 0.8125rem;
      line-height: 1rem;
      color: $grey-dark;
    }
  }
}

.error {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}